Adafruit-Blinka==8.49.0
adafruit-circuitpython-busdevice==5.2.10
adafruit-circuitpython-connectionmanager==3.1.2
adafruit-circuitpython-dht==4.0.5
adafruit-circuitpython-requests==4.1.8
adafruit-circuitpython-typing==1.11.1
Adafruit-PlatformDetect==3.75.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
colorzero==2.0
gpiozero==2.0.1
lgpio==0.2.2.0
numpy==2.1.2
opencv-python==4.10.0.84
pigpio==1.78
pillow==10.4.0
requests>=2.31.0
torch>=2.0.0
torchvision>=0.15.0
ultralytics>=8.0.0
pyftdi==0.55.4
pyserial==3.5
python-xlib==0.33
pyusb==1.2.1
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
six==1.16.0
spidev==3.6
sysv_ipc==1.1.0
typing_extensions==4.12.2
